
*.index

*.dat

*.container

.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml

.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml

.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log

.metadata/.plugins/org.eclipse.m2e.jdt/web-client.container

.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties

.metadata/.plugins/org.eclipse.m2e.core/nexus/1e3eb7bfbf01760396117f40084444f4/segments.gen

.metadata/.plugins/org.eclipse.m2e.core/nexus/1e3eb7bfbf01760396117f40084444f4/segments_5
